<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
    <insert id="insertBoard" statementType="PREPARED"
        parameterType="mary.spring.mvc.vo.BoardVO">
        insert into Board(title, userid, contents)
        values (#{title}, #{userid}, #{contents});
    </insert>

    <select id="selectList" statementType="PREPARED" parameterType="int" resultType="mary.spring.mvc.vo.BoardVO">
        select bno, title, userid, regdate, thumbs, views from Board order by bno desc limit #{startnum}, 10;
    </select>

    <select id="selectOne" statementType="PREPARED" parameterType="String" resultType="mary.spring.mvc.vo.BoardVO">
        select  * from Board where bno = #{bno};
    </select>

    <update id="updateBoard" statementType="PREPARED" parameterType="mary.spring.mvc.vo.BoardVO" >
        update Board set title = #{title}, contents = #{contents}, regdate = current_timestamp() where bno = #{bno};
    </update>

    <delete id="deleteBoard" statementType="PREPARED" parameterType="String">
        delete from Board where bno = #{bno};
    </delete>

    <select id="countBoard" statementType="PREPARED" resultType="int">
        select count(bno) cnt from Board
    </select>

    <update id="viewCount" statementType="PREPARED" parameterType="String">
        update Board set views = views + 1 where bno = #{bno}
    </update>

    <select id="findSelectList" statementType="PREPARED" parameterType="map" resultType="mary.spring.mvc.vo.BoardVO">
        select bno, title, userid, regdate, thumbs, views from Board
        <if test="findType != 'ticon'">
            where ${findType} like concat(#{findKey},'%')
        </if>

        <if test="findType == 'ticon'">
            where title like concat(#{findKey},'%') or contents like concat(#{findKey},'%')
        </if>
        order by bno desc limit #{snum}, 10;
    </select> <!-- 고정값은 #{ }, 변동값은 ${ }으로 표기 / 검색 내 일부 포함된 값을 구할땐 ${findType} = #{findKey} 대신 ${findType} like #{findKey} 을 넣어야 함-->

    <select id="findCountBoard" statementType="PREPARED" parameterType="map" resultType="int">
        select count(bno) cnt from Board
        <if test="findType != 'ticon'">
            where ${findType} like concat(#{findKey},'%')
        </if>

        <if test="findType == 'ticon'">
            where title like concat(#{findKey},'%') or contents like concat(#{findKey},'%')
        </if>
    </select>

</mapper>